body{

    font-family: Arial, sans-serif;
    margin: 20px;

    background-color: #f4f4f4;

}


#raffle-info, #entry-form, #login-form, #signup-form{


    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
 
    border-radius: 5px;

}

#raffle-image{

    padding: 20px;
    margin-bottom: 20px;

    border-radius: 5px;
    text-align: center;
}

#entry-form form{

    margin-top: 10px;
}

label{
    display:block;
    margin-top: 10px;
}

input{

    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button{

    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    
    background-color: #e4d48f;
}

#nav{

    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom:20px;

}

#nav a{
    text-decoration:none;
    color:orange;
    padding: 10px 20px;
    border-radius:5px;

}

#home{

    margin-right:auto;

}

#home-text{

    text-align: center;
}

/*css for raffle cards */
.raffle-card {

    border: 1px solid #ddd;

    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.raffle-image {

    width: 100%; 
    height:500px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

#raffle-container {

    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    justify-content: center;
}